In [1]:
### İleri Toplulaştırma İşlemleri (Aggregate, filter, transform, apply)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({"gruplar": ["A", "B", "C", "A", "B", "C"],
                   "degisken1": [10, 23, 33, 22, 11, 99],
                   "degisken2": [100, 253, 333, 262, 111, 969]})

## Aggregate

In [5]:
df.groupby("gruplar").aggregate(["min", np.median, max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

Dışarıdan bir veri getirdiğimiz için tırnak kullanmadık! Numpy'dan aldığımız için.

**Pandas'ın içindeki fonksiyonları tırnak içine alıyoruz.**

Farklı değişkenler için farklı istatiksel veri almak için:

In [6]:
df.groupby("gruplar").aggregate({"degisken1":"min","degisken2":"max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969